@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');

body{
    background: linear-gradient(to left, #ff0000, #0000ff) no-repeat;
    min-width: 320px;
}


.container{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    height: 600px;
    position: relative;
}


p{
    font-family: "Roboto";
}


.card-item:hover,
.ava_button:hover{
    box-shadow: 5px 5px 10px #aaa;

}


/* --------------Адаптация------------------ */
@media screen and (max-width: 1200px){
    .client_flex {
        display: flex;
        margin-top: 30px;
        justify-content: space-around;
    }
}



/* для мобильных устройств */
@media (min-width: 0px) and (max-width:480px){
    .title {
        font-size: 17px;
    }

    table{
        font-size: 15px;
    }

    .button_position{
        gap: 10px;
    }

    .social svg {
        width: 20px;
        height: 20px;
    }

    .servis svg,
    .fun_svg{
        width: 30px;
        height: 30px;
    }

    .app{
        font-size: 14px;
    }

    .text_olimpia{
        font-size: 14px;
    }

    .opisanie {
        font-size: 15px;
        padding-top: 20px;
    }

    .text_fun_fact {
        font-size: 14px;
    }

    .ava_button{
        font-size: 11px;
    }

    .item-title {
        font-size: 22px;
    }

    .item-header svg {
        width: 30px;
        height: 30px;
    }

    .item-body {
        font-size: 15px;
    }

    .map{
        height: 250px;
    }

    .up{
        width: 70px;
        height: 70px;
    }

    
}

/* для мобильных устройств */


@media screen and (min-width: 0px) and (max-width:768px){
    .cards {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .int{
        font-weight: bold;
        line-height: 25px;
        font-size: 12px;

    }
    .ul{
        line-height: 25px;
        font-size: 12px;
    }

    .circular{
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width:480px){
    .client_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    .end{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-content: space-around;
    flex-wrap: wrap;
    }
    .quote_img_right{
        margin-top: 0px;
    }

    #back-to-top{
        padding: 20px;
        right: -15px;
    }

    .up{
        width: 70px;
        height: 70px;
    }
}

@media(min-width:480px) and (max-width:768px){
    .up{
        width: 90px;
        height: 90px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
    .container{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    body{
        background: none;
    }

    .int{
        padding: 15px;
    }

    .ava,
    .info{
        position: relative;
        height: auto;
        overflow: visible;
        width: 100%;
        left: 0;
        right: 0;
    }

    .footer{
        height: 0;
    }

    .ava {
        background-color: white;
        border-radius: 0px;
        
    }
    .button_position{
        margin-bottom: 20px;
    }

    .content{
        justify-content: space-around;
    }

    .info{
        margin-top: 0px;
        box-shadow: none;
    }
}

/* ------------------------------------------ */